<table class="table table-light table-bordered">
    <thead>
      <tr>
        <th scope="col" class="table-light">#</th>
        <th scope="col" class="table-light">Business name</th>
        <th scope="col" class="table-light">Balance</th>
        <th scope="col" class="table-light">Entry date</th>
        <th scope="col" class="table-light">Person type</th>
        <th scope="col" class="table-light text-center">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let person of people">
      <tr>
        <th scope="row">{{ person.id }}</th>
        <td> {{ person.business_name }} </td>
        <td> {{ person.balance }} </td>
        <td> {{ person.creation_Date_converted }} </td>
        <td> {{ person.persontype.type }} </td>
        <td class="text-center">
            <button class="btn btn-warning" 
            data-toggle="modal">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Edit
            </button>

            <button class="btn btn-danger" data-toggle="modal" style="margin-left: 50px;">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete
            </button>
        </td>

      </tr>
    </tbody>
</table>

