<div *ngIf="people === undefined || persontypes === undefined" class="loadingScreen">
  <div class="spinner-border text-primary" role="status">
  </div>
  <h3 class="text-white ">
    Loading...
  </h3>
</div>

<div *ngIf="!(people === undefined || persontypes === undefined)">
  <div class="mb-2">
    <button class="btn btn-primary" 
    data-bs-toggle="modal"  data-bs-target="#modal" (click)="OnOpenModal('add', null);">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add
    </button>
  </div>
  <table class="table table-light table-bordered">
      <thead>
        <tr>
          <th scope="col" class="table-light">#</th>
          <th scope="col" class="table-light">Business name</th>
          <th scope="col" class="table-light">Balance</th>
          <th scope="col" class="table-light">Entry date</th>
          <th scope="col" class="table-light">Person type</th>
          <th scope="col" class="table-light text-center">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let person of people | peopleFilter: searchvalue">
        <tr>
          <th scope="row">{{ person.id }}</th>
          <td> {{ person.business_name }} </td>
          <td> {{ person.balance }} </td>
          <td> {{ person.creation_Date_converted }} </td>
          <td> {{ person.persontype.type }} </td>
          <td class="text-center">
              <button class="btn btn-warning" 
              data-bs-toggle="modal" data-bs-target="#modal"
              (click)="OnOpenModal('edit', person);">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Edit
              </button>
  
              <button class="btn btn-danger" style="margin-left: 50px;"
              data-bs-toggle="modal" data-bs-target="#modal"
              (click)="OnOpenModal('delete', person);">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  Delete
              </button>
          </td>
  
        </tr>
      </tbody>
  </table>
  
  
  
  <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title mb-5" id="exampleModalLabel">
            {{ modalTitle }}
          </h3>
          <div class="alert alert-danger mt-5" role="alert" *ngIf="errorMesage !== ''">
            {{ errorMesage }}
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="OnAcceptModal()">
            <div *ngIf="!(action == 'delete')">
              <div class="mb-3">
                <label class="form-label">
                  Business name
                </label>
                <input type="text" class="form-control" name="business_name" [(ngModel)]="business_name">
              </div>
    
              <div class="mb-3">
                <label class="form-label">
                  Balance
                </label>
                <input type="text" class="form-control"
                name="balance" [(ngModel)]="balance">
              </div>
    
              <div class="mb-3">
                <label class="form-label">
                  Type
                </label>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                name="type" [(ngModel)]="type">
                  <option selected>Open this select menu</option>
                  <option *ngFor="let p of persontypes" value="{{ p.id }}">{{ p.type }}</option>
                </select>
              </div>
            </div>
  
            <button type="submit" class="btn {{ modalbtnClass }}">
              Ok
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
